<h1 mat-dialog-title>What's on your mind, {{name}}?</h1>
<p class="error-field" *ngIf="submitPressed">
  Please fill in all fields.
</p>
<div [formGroup]="form" mat-dialog-content>
  <span class="error-field" *ngIf="(title.dirty || title.touched) && title.invalid && title.errors.required">
    Title is required.
  </span>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput required>
  </mat-form-field>
  <br>
  <span class="error-field" *ngIf="(body.dirty || body.touched) && body.invalid && body.errors.required">
    Body is required.
  </span>
  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <textarea formControlName="body" matInput></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>Create</button>
</div>
