@import '../../../../assets/color.variables.scss';

.show-more {
  width: 100%;
  color: $secondaryColor;
}
.post-title {
  text-transform: capitalize;
  cursor: pointer;
}
.post-container {
  overflow-y: scroll;
  max-height: 250px;
}
