<mat-sidenav-container>
  <mat-sidenav #sideNav role="navigation">
    <mat-nav-list>
      <a (click)="toggleSideNav(sideNav)" class="icon-area" routerLinkActive="active-link" mat-list-item routerLink="users">
        <mat-icon>face</mat-icon>
        <span>Users</span>
      </a>
      <a (click)="toggleSideNav(sideNav)" class="icon-area" routerLinkActive="active-link" mat-list-item routerLink="posts">
        <mat-icon>speaker_notes</mat-icon>
        <span>Posts</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="toggleSideNav(sideNav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="logo" routerLink="/">Logo</span>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <a class="icon-area" routerLink="{{userLink}}" mat-icon-face>
          <mat-icon>face</mat-icon>
          <span >{{username}}</span>
        </a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
